{% extends 'educrew/main.html' %}
{% load static %}

{% block content %}


<h3>Make Announcement</h3>
<br>
<b>Announcement by: {{lect}}</b>

<div class="row my-lg-3">
    <div class="col-lg-8 my-lg-2">
        <div class="box-element pl-lg-4" style="margin-bottom: 20px;">
            <form method="GET" action="{% url 'makeAnnouncement' %}">
                {% csrf_token %}
                <table class=" table mb-lg-4">
                    {% for f in form %}
                    <tr class="mb-lg-4">
                        <td class="font-weight-bold">{{f.label}} : </td>
                        <td>{{f}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <center>
                <b>NOTE: Enter date in YYYY-MM-DD Format only!</b>
                <br>
                <input class="btn btn-primary mt-lg-3" type="submit">
            </form>
            <br>
            <a href="{% url 'home' %}" class="btn btn-secondary mt-lg-3">Go back to Home</a>
                </center>
        </div>
    </div> 
</div>

{% endblock content %}