
{% extends 'educrew/main.html' %}

{% block content %}

<h3>Change Password</h3>
<div class="col-lg-8">
<div class="box-element pt-lg-4 mt-lg-4 pl-lg-4">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark" type="submit">Submit</button>
    </form>
    <br>

    {% if messages %}  
        {% for message in messages %}
            <p class="text-center rounded" style="background-color: rgb(66, 59, 59); color: white; height: 25px; width: 100%;"> {{ message }}  </p>
        {% endfor %}
    {% endif %}
</div>
</div>





{% endblock %}