{% extends 'educrew/main.html' %}
{% load static %}

{% block content %}


<h3>EXPLORE PROFILES</h3>


<div class="col-lg-8">
    <div class="box-element pt-lg-4 mt-lg-4">           
        <form method="GET" action="">
            <div class="form-row ml-lg-5">
                <table>
                    {% for f in  lfilter.form%}
                    <tr>
                        <td class="font-weight-bold">{{f.label}}:</td>
                        <td>{{f}}</td>
                    </tr>
                    {% endfor %}
                </table> 
            </div>
            <center>
                <button class="btn btn-primary mt-lg-4" type="submit">Search</button>
            </center>
        </form>
    </div>
</div>

<br>
<br>

<div class="mb-lg-5">
<table class="table table-striped  my-lg-0" style="margin-bottom: 100px;">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>View Profile</td>
    </tr>

    {% for lecturer in lecturers %}
    <tr>       
        <td>
            {{lecturer.lect_id}}
        </td>
        <td>
            {{lecturer}}
        </td>
        <td><a class="btn btn-dark" href="{% url 'viewFaculty' lecturer.lect_id %}">View Profile</a></td>
    </tr>
    {% endfor %}

</table>
</div>

{% endblock content %}