{% extends 'educrew/main.html' %}
{% load static %}

{% block content %}


<h3>EXPLORE PROFILES</h3>


<form method="GET" action="">
    <div class="form-row">
        <div>{{lfilter.form.as_p}}</div>  
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
</form>

<br>
<br>

<table class="table table-striped  my-lg-0" style="margin-bottom: 100px;">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>View Profile</td>
    </tr>

    {% for lecturer in lecturers %}
    <tr>       
        <td>
            {{lecturer.lect_id}}
        </td>
        <td>
            {{lecturer}}
        </td>
        <td><a href="">View Profile</a></td>
    </tr>
    {% endfor %}

</table>




{% endblock content %}