{% extends 'educrew/main.html' %}
{% load static %}

{% block content %}
<h3>Hello, {{ user.firstname }}!</h3>

<br>

<div class="row">
    <div class="col-lg-8">
        <div class="box-element" style="margin-bottom: 20px;">
            <strong>Date: {{date}}</strong>
            <br>
            <strong>Day: {{day}}</strong>
            <br>
            <br>
            <h3>Today's Schedule </h3>
            <br>
            <table class="table table-bordered text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Period</th>
                        <th scope="col">Subject</th>
                    </tr>
                </thead>
                {% if cond %}
                <tbody>
                    <tr>
                        <th scope="row">1 <br> (9:30 AM to 10:30 AM) </th>
                        <td>{% if p1 == free %} Free Hour!
                            {% else%} {{p1.sub_id}} <br>  By {{p1.lect_id}} {% endif %}</td>
                    </tr>
                    <tr>
                        <th scope="row">2 <br> (11:00 AM to 12:00 PM) </th>
                        <td>{% if p2 == free %} Free Hour!
                            {% else%} {{p2.sub_id}} <br>  By {{p2.lect_id}} {% endif %}</td>
                    </tr>
                    <tr>
                        <th scope="row">3 <br> (1:00 PM to 2:00 PM) </th>
                        <td>{% if p3 == free %} Free Hour!
                            {% else%} {{p3.sub_id}} <br>  By {{p3.lect_id}} {% endif %}</td>
                    </tr>
                    <tr>
                        <th scope="row">4 <br> (2:30 PM to 3:30 PM) </th>
                        <td>{% if p4 == free %} Free Hour!
                            {% else%} {{p4.sub_id}} <br>  By {{p4.lect_id}} {% endif %}</td>
                    </tr>
                </tbody>
                {% else %}
                <tbody>
                    <tr>
                        <th scope="row">1 <br> (9:30 AM to 10:30 AM) </th>
                        <td>{% if p1 == leisure %} Leisure! <br> Available at {{user.cabin_no}}
                            {% else%} {{p1.sub_id}} <br>  To {{p1.dept_id}} Year: {{p1.year}} Section:{{p1.sec}} 
                            {% endif %}</td>
                    </tr>
                    <tr>
                        <th scope="row">2 <br> (11:00 AM to 12:00 PM) </th>
                        <td>{% if p2 == leisure %} Leisure! <br> Available at {{user.cabin_no}}
                            {% else%} {{p2.sub_id}} <br>  To {{p2.dept_id}} Year: {{p2.year}} Section:{{p2.sec}} 
                            {% endif %}</td>
                    </tr>
                    <tr>
                        <th scope="row">3 <br> (1:00 PM to 2:00 PM) </th>
                        <td>{% if p3 == leisure %} Leisure! <br> Available at {{user.cabin_no}}
                            {% else%} {{p3.sub_id}} <br>  To {{p3.dept_id}} Year: {{p3.year}} Section:{{p3.sec}} 
                            {% endif %}</td>
                    </tr>
                    <tr>
                        <th scope="row">4 <br> (2:30 PM to 3:30 PM) </th>
                        <td>{% if p4 == leisure %} Leisure! <br> Available at {{user.cabin_no}}
                            {% else%} {{p4.sub_id}} <br>  To {{p4.dept_id}} Year: {{p4.year}} Section:{{p4.sec}} 
                            {% endif %}</td>
                    </tr>
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>


    <div class="col-lg-4">
        <div class="box-element" style="margin-bottom: 50px;">
            <h4>Details:</h4>
            Name: <strong>{{user}}</strong> 
            <br>
            Branch: {{user.dept_id}}
            <br>
            {% if cond %}
                Section: {{user.sec}}
                <br>
                Year: {{user.year}}
                <br>
            {% endif %}
            Role: {{role}}
            <br>
            <br>

            {% if cond %}
                <h4>Announcements:</h4>
                {% if count == 0 %}
                    <p>No Announcements yet.</p>
                {% else %}
                    {% for a in announcements %}
                    <p><b> {{a.lect_id}} </b>: {{a.note}}</p>
                    <hr>
                    {% endfor %}
                {% endif %}
            {% else %}
                <h5 class="mb-lg-3">Make Announcements for Students:</h5>
                <div class="text-center">
                    <a href="{% url 'announcement' %}" class="btn btn-primary">Announce</a>       
                </div>  
            {% endif %}
            
        </div>
    </div>
</div>

{% endblock content %}