{% extends 'educrew/main.html' %}
{% load static %}

{% block content %}
<h3>Hello, {{ user.firstname }}!</h3>

<br>

<div class="row">
    <div class="col-lg-8">
        <div class="box-element" style="margin-bottom: 20px;">
            <strong>Date: {{date}}</strong>
            <br>
            <strong>Day: {{day}}</strong>
            <br>
            <br>
            <h3>Today's Schedule </h3>
            <br>
            <table class="table table-bordered text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Period</th>
                        <th scope="col">Subject</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1 <br> (9:30 AM to 10:30 AM) </th>
                        <td>{{p1}} <br>  By {{p1.lect_id}}</td>
                    </tr>
                    <tr>
                        <th scope="row">2 <br> (11:00 AM to 12:00 PM) </th>
                        <td>{{p2}} <br>  By {{p2.lect_id}}</td>
                    </tr>
                    <tr>
                        <th scope="row">3 <br> (1:00 PM to 2:00 PM) </th>
                        <td>{{p3}} <br>  By {{p3.lect_id}}</td>
                    </tr>
                    <tr>
                        <th scope="row">4 <br> (2:30 PM to 3:30 PM) </th>
                        <td>{{p4}} <br>  By {{p4.lect_id}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="col-lg-4">
        <div class="box-element" style="margin-bottom: 50px;">
            <h4>Details:</h4>
            Name: <strong>{{user}}</strong> 
            <br>
            Branch: {{user.dept_id}}
            <br>
            {% if cond %}
            Section: {{user.sec}}
            <br>
            Year: {{user.year}}
            <br>
            {% endif %}
            Role: {{role}}
            <br>
            <br>

            <h4>Announcements:</h4>
            <p>
                No Announcements yet.
            </p>
        </div>
    </div>
</div>

{% endblock content %}