{% extends 'educrew/main.html' %}
{% load static %}

{% block content %}
<h3>Hello, Sai Sumanth!</h3>

<br>

<div class="row">
    <div class="col-lg-8">
        <div class="box-element">
            <strong>Date: 06 November, 2020</strong>
            <br>
            <strong>Day: Friday</strong>
            <br>
            <br>
            <h3>Today's Schedule </h3>
            <br>
            <table class="table table-bordered text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Period</th>
                        <th scope="col">Subject</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1 <br> (9:30 AM to 10:30 AM) </th>
                        <td>Formal Languages and Automata Theory <br>  By Madhavi Sudha</td>
                    </tr>
                    <tr>
                        <th scope="row">2 <br> (11:00 AM to 12:00 PM) </th>
                        <td>Design and Analysis of Algorithms <br>  By Madhurima Rana</td>
                    </tr>
                    <tr>
                        <th scope="row">3 <br> (1:00 PM to 2:00 PM) </th>
                        <td>Operating Systems <br>  By Kavitha Agarwal</td>
                    </tr>
                    <tr>
                        <th scope="row">4 <br> (2:30 PM to 3:30 PM) </th>
                        <td>Mini Project <br>  By Mary Sudha</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="col-lg-4">
        <div class="box-element">
            <h4>Details:</h4>
            Name: <strong>Sai Sumanth Korthiwada</strong> 
            <br>
            Branch: CSE 3
            <br>
            Year: 3
            <br>
            <br>

            <h4>Announcements:</h4>
            <p>
                No Announcements yet.
            </p>
        </div>
    </div>
</div>

{% endblock content %}