{% extends 'educrew/main.html' %}
{% load static %}

{% block content %}

<h2>Your Profile</h2>

<br>

<div class="row">
    <div class="col-lg-8">
        <div class="box-element" style="margin-bottom: 20px;">
            <table class="table table-striped">
                <tr>
                    <td class="font-weight-bold">Name</td>
                    <td colspan="3">{{user}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Department</td>
                    <td colspan="3">{{user.dept_id}}</td>
                </tr>
                {% if cond %}
                <tr>
                    <td class="font-weight-bold">Section</td>
                    <td>{{user.sec}}</td>
                    <td class="font-weight-bold">Year</td>
                    <td>{{user.year}}</td>
                </tr>
                {% else %}
                <tr>
                    <td class="font-weight-bold">Cabin Details:</td>
                    <td>{{user.cabin_no}}</td>
                </tr>
                {% endif %}
                <tr>
                    <td class="font-weight-bold">Mobile Number</td>
                    <td colspan="3">{{user.phoneno}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">College Mail ID</td>
                    <td colspan="3">{{user.email}}</td>
                </tr>
            </table>
        </div>

        <h3>Achievements </h3>
        <br>
        
        <div class="box-element" style="margin-bottom: 30px;">
            <table class="table table-bordered table-striped">
                <tr>
                    <td class="font-weight-bold" width=40%>Languages Known</td>
                    <td>{{achvmnts.lang_known}}</td>
                </tr>
                {% if cond %}
                <tr>                  
                    <td class="font-weight-bold">Programming Languages</td>
                    <td>{{achvmnts.prog_lang}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Internships</td>
                    <td>{{achvmnts.internships}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Projects</td>
                    <td>{{achvmnts.projects}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Links (if any)</td>
                    <td>{{achvmnts.links}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Sports</td>
                    <td>{{achvmnts.sports}}</td>
                </tr>
                {% else %}
                <tr>                  
                    <td class="font-weight-bold">Education Qualifications</td>
                    <td>{{achvmnts.qual}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Specializations</td>
                    <td>{{achvmnts.spcltns}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Projects</td>
                    <td>{{achvmnts.projects}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Research Works</td>
                    <td>{{achvmnts.research}}</td>
                </tr>
                {% endif %}
                <tr>
                    <td class="font-weight-bold">Other Achievements</td>
                    <td>{{achvmnts.other}}</td>
                </tr>
            </table>
        </div>
    </div> 
    
    
    <div class="col-lg-4">
        <div class="box-element text-center" style="margin-bottom: 50px;">          
            {% if cond %}
            <img src="{{request.user.student.profile_image.url}}" alt="Profile Pic" style="height:175px;width:175px;border-radius: 50%;">
            <br>
            <strong>{{user}}</strong> 
            <br>
            <a class="btn btn-info my-2" href="{% url 'profile-update' %}">Edit Profile Details</a>
            <br>
            <a class="btn btn-info my-2" href="{% url 'student-achievements' %}">Edit Achievements</a>
            {% else %}
            <img src="{{request.user.lecturer.profile_image.url}}" alt="Profile Pic" style="height:175px;width:175px;border-radius: 50%;">
            <br>
            <strong>{{user}}</strong> 
            <br>
            <a class="btn btn-info my-2" href="{% url 'profile-update2' %}">Edit Profile Details</a>
            <br>
            <a class="btn btn-info my-2" href="{% url 'faculty-achievements' %}">Edit Achievements</a>
            {% endif %}
            <br>
            <a class="btn btn-dark my-2" href="{% url 'change_password' %}">Change Password</a>
        </div>
    </div>


    
</div>

{% endblock content %}

