{% extends 'educrew/main.html' %}
{% load static %}

{% block content %}


<h2> {{user}}'s Profile </h2>
<br>

<div class="row">
    <div class="col-lg-10">
        <div class="box-element" style="margin-bottom: 20px;">
            <table class="table table-striped">
                <tr>
                    <td class="font-weight-bold">Name</td>
                    <td colspan="3">{{user}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Department</td>
                    <td colspan="3">{{user.dept_id}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Cabin Details:</td>
                    <td>{{user.cabin_no}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Mobile Number</td>
                    <td colspan="3">{{user.phoneno}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">College Mail ID</td>
                    <td colspan="3">{{user.email}}</td>
                </tr>
            </table>
        </div>
    </div> 
</div>

<div class="col-lg-10 box-element" style="margin-bottom: 20px;">
    <table class="table table-bordered table-striped text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Period</th>
                <th scope="col">Subject</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1 <br> (9:30 AM to 10:30 AM) </th>
                <td>{% if p1 == leisure %} Leisure! <br> Available at {{user.cabin_no}}
                    {% else%} {{p1}} <br>  To {{p1.dept_id}} Year: {{p1.year}} Section:{{p1.sec}} 
                    {% endif %}</td>
            </tr>
            <tr>
                <th scope="row">2 <br> (11:00 AM to 12:00 PM) </th>
                <td>{% if p2 == leisure %} Leisure! <br> Available at {{user.cabin_no}}
                    {% else%} {{p2}} <br>  To {{p2.dept_id}} Year: {{p2.year}} Section:{{p2.sec}} 
                    {% endif %}</td>
            </tr>
            <tr>
                <th scope="row">3 <br> (1:00 PM to 2:00 PM) </th>
                <td>{% if p3 == leisure %} Leisure! <br> Available at {{user.cabin_no}}
                    {% else%} {{p3}} <br>  To {{p3.dept_id}} Year: {{p3.year}} Section:{{p3.sec}} 
                    {% endif %}</td>
            </tr>
            <tr>
                <th scope="row">4 <br> (2:30 PM to 3:30 PM) </th>
                <td>{% if p4 == leisure %} Leisure! <br> Available at {{user.cabin_no}}
                    {% else%} {{p4}} <br>  To {{p4.dept_id}} Year: {{p4.year}} Section:{{p4.sec}} 
                    {% endif %}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock content %}