.box-element{
    box-shadow: hsl(0, 3%, 20%) 20px 20px 10px;
    background-color: white;
    border-radius: 7%;
    padding: 100px 10px;
    width: 25%;
    float: right;
    margin-top: 150px;
    margin-right: 200px;
    opacity: 0.95;
}

img {
    border-radius: 50%;
}

.opc1{
    opacity: 1;
}

#messages{
    background-color: rgb(241, 64, 64);
    color: rgb(255, 255, 255);
    width: 60%;
    margin: auto;
    padding: 10px;
}

body{
    background-image: url('../../../static/images/final-bg.jpg');
    background-size: cover;
    background-position: center  ;
}

.logo1{
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-weight: bold;
    margin-top: 300px;
    margin-left: 150px;
    background-color: black;
    color: white;
    float: left;
    border-radius: 25%;
    font-size: 75px;
    padding: 0 8px;
}

.logo2{
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-weight: bold;
    margin-top: 300px;
    color: white;
    float: left;
    font-size: 75px;
}

@media screen and (max-width: 900px) {
    .box-element{
        box-shadow: hsl(0, 3%, 20%) 20px 20px 10px;
        background-color: white;
        border-radius: 7%;
        padding: 100px 10px;
        width: 60%;
        margin-right: 100px;
        margin-bottom: 100px;
        float: right;
        opacity: 0.95;
    }
    .logo1{
        font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
        font-weight: bold;
        margin-top: 100px;
        background-color: black;
        margin-left: 90px;
        color: white;
        float: left;
        border-radius: 25%;
        font-size: 75px;
        padding: 0 8px;
    }
    
    .logo2{
        font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
        font-weight: bold;
        margin-top: 100px;
        color: white;
        float: left;
        font-size: 75px;
    }
  }