.box-element{
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
}

img {
    border-radius: 50%;
}

.message-box{
    background-color: red;
    color: white;
    border-radius: 25%;
}